{% extends "base.html" %}
{% block content %}
<h1>Movies for {{ user.name }}</h1>
<form action="{{ url_for('index') }}" method="get">
    <button type="submit">← Back to Users</button>
</form>
<div class="movie-list">
    {% for movie in movies %}
    <div class="movie">
        <img src="{{ movie.poster_url }}" alt="{{ movie.name }}">
        <form action="{{ url_for('update_movie', movie_id=movie.id, user_id=user.id) }}" method="post">
            <input type="text" name="new_title" value="{{ movie.name }}" required>
            <button type="submit">Update</button>
        </form>
        <p>Year: {{ movie.year }}</p>
        <p>Director: {{ movie.director }}</p>
        <form action="{{ url_for('delete_movie', movie_id=movie.id, user_id=user.id) }}" method="post">
            <button class="delete" type="submit">Delete</button>
        </form>
    </div>
    {% endfor %}
</div>
<div class="add_new_movie">
    <h3>Add New Movie</h3>
    <form action="{{ url_for('add_movie', user_id=user.id) }}" method="post">
        <input type="text" name="movie_title" placeholder="Movie title">
        <button type="submit">Add New Movie</button>
    </form>
</div>
{% endblock %}